table, th, td {
    border: 1px solid black;
}

/*First column of table is header with italic, not bold text*/
tbody th:nth-child(1) {
    font-weight:normal;
    font-style:italic;
    }

/*First non-header cell of each non-header row has red text*/
.foo{
    color:red;
}
/*Third non-header cell of each non-header row has blue text*/
.bar{
    color:blue;
}

/*Odd non-header/footer rows should have a light green background*/
tbody tr:nth-child(odd) {
    background-color:lightgreen;   
}

/*Even non-header/footer rows should have a light blue background*/
tbody tr:nth-child(even) {
    background-color:lightblue;   
}

/*Hover over a dt entry -> purple background*/
dt:hover{
    background-color:purple;
}

