table, th, td {
    border: 1px solid black;
}

/*First column of table is header with italic, not bold text*/
tbody th:nth-child(1) {
    font-weight:normal;
    font-style:italic;
    }

/*First non-header cell of each non-header row has red text*/
tbody td:nth-of-type(1) { 
    color:red; 
}

/*Third non-header cell of each non-header row has blue text*/

tbody td:nth-of-type(3) {
    color:blue; 
}

/*Odd non-header/footer rows should have a light green background*/
tbody tr:nth-child(odd) {
    background-color:lightgreen;   
}

/*Even non-header/footer rows should have a light blue background*/
tbody tr:nth-child(even) {
    background-color:lightblue;   
}

/*Hover over a dt entry -> dd gets purple background*/
dt:hover + dd {
    background-color:purple;
}

.outer-content{
    width:75%;
    background-color:pink;
    margin-top: 20px;
    text-align:center;
    padding-bottom: 20px;
}

.inner-content{
    background-color:lightblue;
    width: 75%;
    margin-left:12.5%;
}

img {
    float:left;
}